/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
@import "bootstrap";

body {
    padding-top: 90px;
}

@media (min-width: 992px) {
    body {
        padding-top: 90px;
    }
}

.card {
    height: 100%;
}

.countdown-wrapper {
  background: rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  height: 165px;
  padding: 53px 0 0 0;
  width: 100%;
}

h4.NaN {
  margin-top: 15px;
}

.countdown-clock {
  zoom: 0.393;
  -moz-transform: scale(0.35);
}

@media (max-width: 575px) {
  .countdown-clock {
    zoom: 0.445;
    -moz-transform: scale(0.445);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .countdown-clock {
    zoom: 0.67;
    -moz-transform: scale(0.67);
    padding-left: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .countdown-clock {
    zoom: 0.512;
    -moz-transform: scale(0.512);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .countdown-clock {
    zoom: 0.317;
    -moz-transform: scale(0.317);
  }
}

.card-text {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.card-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  color: #fff;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  position: absolute;
  width: 100%;
}

footer {
  margin-top: 108px;
}